.root{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}

.comment{
    padding: 16px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    color: #575757;
}

.imgComent{
    display: flex;
}

.divSpan{
    padding-left:10px
}