@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: rgb(255, 255, 255);
}

.funkosCard {
  /* DIV QUE ENVUELVE LAS CARDS */
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  height: 450px;
  width: 220px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 5px -1px rgba(122, 114, 114, 0.75);
  transition-property: transform;
  transition-duration: 0.8s;
}

.item:hover {
  transform: translateY(-0.9%);
  background-color: rgb(252, 252, 252);
}

.li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.cartImg {
  display: flex;
  background-color: transparent;
  text-decoration: none;
  color: black;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 92%;
  transition-property: transform, background-color;
  transition-duration: 0.7s;
  color: red;
  padding: 5px 10px 10px 10px;
}

.cartImg:hover{
  transform: translateY(-3%);
  /* background-color: black; */
}

.cartImg2{
  color: black;
  transform: scaleX(-1);
  width: 45px;
  height: 45px;
  transition-property:color;
  transition-duration: 0.6s;
  background-color: transparent;
  /* border-radius: 60px; */
  /* padding: 10px; */
  border-radius: 15%;
}

/* .cartImg2:hover{
  color:rgb(255, 255, 255);
} */

.linkDetails, .cartDiv{
   text-decoration: none;
   color: black;
}

.funkoImg {
  height: 250px;
  margin: 0;

}

.notfound{
  margin-top: 25px;
  height: 300px;
}
.funkoTittle {
  background-color: transparent;
  height: 60px;
  font-size: 62%;
  text-transform: uppercase;
  font-family: "Secular One";
  margin: 10px 5px;
  overflow: hidden;
}


.price {
  /* box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.75); */
  margin: 1px 30% 10px;
  padding: 2px 0;
  font-size: 70%;
  border-radius: 15px;
  background-color: transparent;
}

.buttonAdd {
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  /* margin: 2px 30% 2px; */
  padding: 8px 45px;
  /* font-size: 70%; */
  background-color: transparent;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-family: "Secular One";
  transition-property: background-color;
  transition-duration: 0.8s;
}


.buttonAdd:hover {
  background-color: rgb(194, 255, 103);

}


/* .btn-13 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
} */



.pagination{
  width: 100%;
  margin-left: 40%;
}
