
.nav {
  height: 70px;
  box-shadow: 0.5px 0px 0.5px 0.5px rgb(175, 175, 175);
  /* margin-top: 5px; */
   /* background-color: #000000;
  background-image: linear-gradient(315deg, #5c5c5c 0%, #ffc1c1 74%);  */
  /* border-radius: 0px 0px 5px 5px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.img{
  height: 120px;
  width: auto;
  margin-top: 7px;
  margin-left: 10px;
  transition-property: transform;
  transition-duration: 0.6s;
}

.img:hover {
  transform: scale(1.1);
}

.userbtns {
  display: flex;
}

.home{
  color: black;
  font-size: 1.8rem;
  transition-property: color;
  transition-duration: 0.5s;
}

.cartImg{
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  margin-right: 25px;
  transition-property: color;
  transition-duration: 0.5s;
  transform: scaleX(-1);
  transform: scale(1.5);
}
.linkToCart{
  background-color: transparent;
  display: flex;
  transition-property: color;
  transition-duration: 0.5s;
}

.cartImg:hover,
.cartImg:focus {
  /* color: #98ea4c; */
  color: #8B3DFF;
}