
.nav {
  height: 70px;
  /* box-shadow: 1px 0px 1px 1px rgb(175, 175, 175); */
  /* margin-top: 5px; */
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.img{
  height: 120px;
  width: auto;
  margin-top: 7px;
  margin-left: 10px;
}

.img:hover {
  transform: scale(1.1);
}

.userbtns {
  display: flex;
}

.home{
  color: black;
  font-size: 1.8rem;
  transition-property: color;
  transition-duration: 0.5s;
}

.cartImg{
  color: black;
  font-size: 1.8rem;
  margin-right: 25px;
  transition-property: color;
  transition-duration: 0.5s;
  transform: scaleX(-1);
  transform: scale(1.5);
}
.linkToCart{
  background-color: transparent;
  display: flex;
  transition-property: color;
  transition-duration: 0.5s;
}
.home:hover,.cartImg:hover,.linkToCart:hover{
  color: rgb(85, 255, 113);
}