.root {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
}

.p{
    color: white;
}

.logo{
    border-radius: 55px;
    height: 45px;
    width: 45px;
}