.pag {
    display: flex;    
    padding: 20px;    
} 

.btn {
    background: #111;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 20px; 
    margin: 0 4px;
    padding: 10px;
    transition-duration: 0.4s;   
}

.btn:hover {
    background: rgb(34, 34, 34);
    color: #ffffff;
} 

.btn:focus {
    background: rgb(87, 84, 84);
    color: white;
    /* border-radius: 50%; */
    
}