.pag {
    display: flex;    
    padding: 20px;    
}

.btn {
    background: #3cb7b9;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 20px; 
    margin: 0 4px;
    padding: 10px;
    transition-duration: 0.4s;   
}

.btn:hover {
    background-color: white;
    color: #3cb7b9;
}

.btn:focus {
    background-color: #3858b1;
    color: white;
    
}