

.container {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  }
  
  
  .item {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    height: auto;
    width: 50%;
    border: none;
    transition-property: transform;
    transition-duration: 0.8s;
  }
  
  .p {
    margin: 20px 0px 20px 0px;
  }
  
  
 