.dark {
    background-color: #111;
    color: #9c9c9c;
    

  }


 .dark .root_tb{
  background-color: #111;
  border-color: #333;
  box-shadow: 0px 0px 15px -5px rgba(226, 221, 221, 0.897);
 }

 .dark .icon_tb{
   color: aliceblue;
 }

 .dark .notification_tb{
   color: #fff;
 }

 .dark .chart_ch{
  box-shadow: 0px 0px 15px -5px rgba(226, 221, 221, 0.897);
 }

 .dark .sidebar_sd{
  background-color: #111;
  box-shadow: 0px 0px 15px -5px rgba(226, 221, 221, 0.897);
 }

 .dark .sidebarListItem_sd:hover {
  background-color: #333;
 }