.react-chatbot-kit-chat-message-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.react-chatbot-kit-chat-input {
  border: 2px solid;
}

.react-chatbot-kit-chat-input::placeholder {
  color: transparent;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.react-chatbot-kit-chat-btn-send-icon {
  display: inline-block;
}

.react-chatbot-kit-chat-bot-avatar-container {
  background-color: white;
}

.react-chatbot-kit-chat-bot-avatar-letter {
  content: 'Funko';
  width: 30px;
  height: 40px;
}

.react-chatbot-kit-user-avatar-icon{
  display: none
}

.btn {
  background: #ffffff;
  border-radius: 50%;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 19px 18px 19px;
  text-decoration: none;
  border: 5px solid #ff8839;
  transition: 350ms;
}

.btn:hover {
  background: #ffffff;
  text-decoration: none;
}

.btn-no-round {
  background: #ffffff;
  border-radius: 5%;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  border: 5px solid #000000;
}

.btn:focus {
  outline: none;
}
  
.footer {
  height: 140px;
  padding:10px;
  width: 100%;
  background-color: #636363;
  color: #fff;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
   position: absolute;
  bottom: 0; */
}
.footer_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  margin-right: 20px;
  /* margin:5px 20px 5px 0px; */
}
.footer_section header {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}
.footer_section header:hover{
  background-color:#846bd3;
}

.footer_section p{

  margin:5px 0px ;

}


.footer_section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
