@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.subContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  box-shadow: 0px 1px 5px -1px rgba(122, 114, 114, 0.75);
  margin: 20px 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.myCartAndButtonEmpty {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.myCart {
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}

.emptyCart {
  margin-right: 50px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 1px 5px -1px rgba(122, 114, 114, 0.75);
  padding: 1px 15px;
  border-radius: 5px;
  height: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  /* letter-spacing: 1px; */
  transition-property: background-color, color;
  transition-duration: 0.7s;
  width: 200px;
  color: #111;
}
.emptyCart:hover {
  background-color: #111;
  color: white;
}

.checkOut {
  color: #111;
}
.checkOut:hover {
  background-color: #111;
  color: white;
  border: 2px solid rgb(255, 255, 255);
}
.home {
  font-size: 2rem;
  margin-top: 10px;
  background-color: transparent;
  transition-property: color;
  transition-duration: 0.5s;
}

.home:hover {
  color: rgb(85, 255, 113);
}

.linkToHome {
  text-decoration: none;
  color: black;
}

.totalToPay {
  display: flex;
  justify-content: center;
  background-color: #111;
  color: white;
  margin-left: 50px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0px 1px 5px -1px rgba(122, 114, 114, 0.75);
  padding: 10px 10px;
  width: 250px;
}

.li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  box-shadow: 0px 1px 5px -1px rgba(122, 114, 114, 0.75);
  border-radius: 5px;
  padding: 15px 5px;
  overflow: hidden;
  width: 200px;
}

.price {
  margin: 5px 0px;
  background-color: #f3f3f7;
  width: 120%;
  overflow: hidden;
  padding: 5px 0px;
  color: #111;
}

.buttonsMoreAndLessDiv {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}
.buttonsMoreAndLess {
  margin: 10px 0 5px 0;
  background-color: transparent;
  border: none;
  box-shadow: 0px 1px 5px -1px rgba(122, 114, 114, 0.582);
  border-radius: 50px 0px 0px 50px;
  font-size: 15px;
  font-weight: bold;
  color: #111;
  height: 30px;
  padding: 15px 35px 15px 35px;
  display: flex;
  align-items: center;

}
.buttonsMoreAndLess:hover {
  background-color: #111;
  color: white;
}
.lessButton {
  border-radius: 0px 50px 50px 0px;
}
.lessButton:hover {
  background-color: #111;
  color: white;
}
.deleteButton {
  background-color: transparent;
  width: 30px;
  height: 26px;
  padding-top: 3px;
  font-size: 20px;
  color: #111;
  margin-top: 10px;
  border: none;
}

.deleteButton:hover {
  box-shadow: 1px 1px 2px 1px rgba(122, 114, 114, 0.514);
  border-radius: 50px;
  /* background-color: #111;
  color: white; */
}

.title {
  font-size: 15px;
  font-family: "Secular One";
  text-transform: uppercase;
}
.funkoImg {
  width: auto;
  height: 150px;
  background-color: transparent;
}

.img {
  width: auto;
  height: 150px;
  transition-property: transform;
  transition-duration: 0.6s;
}

.img:hover {
  transform: scale(1.1);
}
