:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;
}

.create { 
    background-color: rgb(243, 243, 243);
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gridLeft {
    grid-column: 1 / 2;
}

.img {
    height: 500px;
    max-width: 500px;
    margin-top: 50px;
}

.gridRight {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 125px 300px 50px;
    align-items: center;
    margin-top: 30px;
    margin-right: 65px;
}

.formTop {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-right: 10px;
    font-size: 35px;
    font-family: "Secular One";
}

.formMiddle {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10px;
}

.formLeft {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formRight {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formBottom {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.input::placeholder {
    color: var(--input-placeholder);
}

.input {
    border: 1px solid var(--input-border);
    display: block;
    width: 300px;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    background: var(--input-background);
    transition: border .3s ease;
    margin: 12px;
}

.input:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.wrong {
    border: 1px solid red;
    display: block;
    width: 300px;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    background: var(--input-background);
    transition: border .3s ease;
    margin: 12px;
}

.wrong:focus {
    outline: none;
    border-color: rgb(160, 0, 0);
}

.errors {
    color: red;
    font-size: 10px;
    line-height: 0px;
}

.createBtn {
    background-color: #796fffea;
    border-radius: 6px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    width: 90px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10px;
}

.createbtn:hover {
    background-color: #a8a2ffea;
}

.createbtn:active {
    color: black;
  }