/* .container{
    display: flex;
    background-color: transparent;
}

.leftDiv{
    background-color: yellow;
    width: 50%;
    height: 100vh;
    background-position: center;
}

.rightDiv{
    background-image: url('../../assets/image\ \(1\).png');
    width: 50%;
    height: 100vh;
} */