/* .root{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    height: 350px;
    width: 450px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 5px -1px rgb(122 114 114 / 75%);
} */

.btn {
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
    /* margin: 2px 30% 2px; */
    padding: 8px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-family: "Secular One";
    transition-property: background-color;
    transition-duration: 0.8s;
    cursor: pointer;
    color: rgba(0,0,0,0.72);
    width: 198px; 
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .btn:hover {
    background-color: rgb(194, 255, 103);
  }

.divClose{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    
}

.btnClose{
    color: rgb(26, 115, 232);
    cursor: pointer;
    height: 36px;
    border-radius: 4px;
    padding: 0 15px 0px 15px;
    border: 1px solid #dadce0;
    border-width: 1px;
    background: transparent;
}

.divHeader{
    color: rgba(0,0,0,0.7);
    font-size: 20px;
    font-weight: 400;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 20%;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    height: 350px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 5px -1px rgb(122 114 114 / 75%);
    overflow: hidden;
    width: 580px;
    z-index: 1001;

 
}

.root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    z-index: 1;
}
.card{
    height: 450px;
    width: 100%;
    border: 1px solid var( --border-card);
    display: flex;
    background-color: white;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 10px 10px 10px 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #5e5e5e4d;
    display: flex;
    justify-content: center;
    align-items: center;
}