.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filterText {
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Secular One';
}