.itemsQuantity{
    font-size: 1.5rem;
    color: #f3f3f7;
    /* padding-bottom: 5px; */
    background-color: transparent;
    margin-right: 5px;
    top: 0;
    padding-top: -20px;
    /* position: absolute; */
    /* margin-left: -8px;
    margin-bottom: -8px; */
  }
  .itemsQuantity:hover,
  .itemsQuantity:focus {
    color: #8b3dff;
  }