.itemsQuantity{
    font-size: 1.4rem;
    color: black;
    /* padding-bottom: 5px; */
    background-color: transparent;
    /* position: absolute; */
    /* margin-left: -8px;
    margin-bottom: -8px; */
  }