

.main{
    background-color: var(--fds-gray-80);
    color: white;
    width: 100%;
    overflow:hidden;
    min-height:100vh;
    padding:20px;
    
    /* justify-content: center; */
}
.main section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:5%;
}
.main h1{
    margin-top: 20px;

}

