

.main{
    background-color: #454b76;
    color: white;
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 2fr;
    height: 100vh;
    overflow:hidden;
}
.main header{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2rem;
    font-weight: bold;
}

.section2{
    width: 100%;
    height: 100%;
    background-color:gray;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    padding:10px 0px;

}

.descripcion{
    border:2px solid yellow;


}
