
.container{
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 3px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.container h3{ 
    color:#111;
    margin-top:35px;
    margin-bottom: 10px;
    font-family: 'Secular One';
}

.err{
    color: red;
    font-size: 12px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

/* .inputGroup b{
    color:#c9f2ac;
} */
/* .inputGroup span{
    text-align: start;
    color:#82a818;
    font-weight: bold;
    border-left:3px solid white;
    padding-left:8px;
    border-bottom: 0.5px solid #ffffff17;
    margin-bottom: 5px;
} */

.login {
    background-color: WHITE;
    border-radius: 6px;
    border-style: none;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    /* text-decoration: none; */
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: 600;
    transition-property: color;
    transition-duration: 0.8s;
  }
  
  .login:hover,
  .login:focus {
    color: #275dfe;
  }
  
  .buttonSubmit{
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
}


.err{
    margin:-2px 0px 10px 0px;
    color: #f56565;
    font-weight: bold;
    font-size: 12px;
    max-width: 250px;
}

  

.loginFooter{
    display: flex;
    width: 100%;
    justify-content: space-around;


}