.input{
    box-shadow: 0.5px 0.1px 2px 0.9px rgb(206, 206, 206);
    color: #685a6b;
    font-weight:bold;
    padding-left:10px;
    height:35px;
    outline:none;
    border:none;
    margin:10px 0px 10px 0px;
    box-sizing:border-box;
    border-radius: 5px;
}
.input::placeholder{
    color: var(--input-placeholder);
    font-weight:550;
    letter-spacing:1.4px
}


.button{
    border: 2px solid #a6a3ac;
    background-color: #e7daec;
    color: #6a4fb1;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 10px;
    padding:5px 0px;
    width: 80%;
    margin:10px 10%;
    cursor:pointer;
}
.button:hover{
    opacity:0.8;

}


.modal-visible {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #5e5e5e4d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.modal-hidden{
    display: none;
}

.close{
    border:none;
    background-color:#accddb;
    margin-bottom: 0px;
    color:white;
    font-weight:bold;
    width:25px;
    height:30px;
    border-radius:5px;
    margin-left: -30px;
    margin-top:5px;
    z-index: 2;
}

.formButton{
    display:flex;
    flex-direction: row-reverse;
}
.close:hover{
    background-color:#95c5d9;
}