.input {
  box-shadow: 0.5px 0.5px 2px 0.5px rgba(206, 206, 206, 0.509);
  color: #685a6b;
  font-weight: bold;
  padding-left: 10px;
  height: 35px;
  outline: none;
  border: none;
  margin: 10px 0px 10px 0px;
  box-sizing: border-box;
  border-radius: 5px;
}
.input::placeholder {
  color: var(--input-placeholder);
  font-weight: 550;
  letter-spacing: 1.4px;
}

.button {
  background-color: #f3f3f7;
  color: #111;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 5px 0px;
  width: 80%;
  margin: 10px 10%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Secular One";
}
.button:hover {
  border-color: #111;
  box-shadow: 0.5px 0.5px 2px 0.5px rgba(56, 54, 54, 0.308);
}

.modal-visible {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #5958584d;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row-reverse; */
  z-index: 20;
  overflow: hidden;
}

.modal-hidden {
  display: none;
}

.close {
  border: none;
  box-shadow: 0.5px 0.5px 2px 0.5px rgba(67, 67, 67, 0.199);
  background-color: white;
  margin-top: 3px;
  color: #111;
  font-weight: bold;
  width: 30px;
  height: 28px;
  border-radius: 50px;
  margin-left: -34px;
  /* margin-top:5px; */
  z-index: 2;
  padding: 1px 1px;
}

.formButton {
  display: flex;
  flex-direction: row-reverse;
}
.close:hover {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0.5px 0.5px 2px 0.5px rgba(67, 67, 67, 0.331);
}
