
.modal-visible {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #bfaaaa4d;
    display: flex;
    justify-content:center;
    align-items:center;
}

.modal-hidden{
    display: none;
}

.close{
    position:absolute;
    top:0px;
    right:0px;
    border:none;
    background-color:red;
    width:25px;
    height:30px;
    border-radius:5px;
}

.close:hover{
    background-color:orange;
}