
.login{
    width:92%;
    margin:4% 4%;
    /* height:95%; */
    
}
 
.login h3{
    color:white;
    margin-top:5px;
    margin-bottom: 5px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
}


.containerForm{
    width: 350px;
    background-color:#ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing:3px;
    position: relative;
}

.err{
    margin:-2px 0px 10px 0px;
    color: #f56565;
    font-weight: bold;
    font-size: 12px;
}

.invalid{
    box-shadow: 0px 0px 2px 2px red;
}

.register {
    background-color: #796fffea;
    border-radius: 0px 6px 6px 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    width: 90px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .register:hover,
  .register:focus {
    background-color: #8B3DFF;;
  }
